.container {
  padding: 5%;
}

table {
    width: 100%;
  }

.row1{
  background-color: rgb(158, 158, 245);
  //font-size: x-large;
  //font-weight: bolder;
  //border: 2px solid black;
  //width: 100px;
}

.col1 {
  //border: 2px solid black;
  //text-align: center;
  //width: 100px;
}