<div class="container">
  <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z10">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th class="row1" mat-header-cell *matHeaderCellDef mat-sort-header>No. </th>
      <td class="col1" mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th class="row1" mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td class="col1" mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th class="row1" mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
      <td  class="col1" mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th class="row1" mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
      <td class="col1" mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>  
</div>

